<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Social Media</h3>
  </div>
  <div class="panel-body">
    {% if site.googleplus_user %}
      <!-- <section class="googleplus{% if site.googleplus_hidden %} googleplus-hidden{% endif %} panel panel-default"> -->
          <p align="justify">
            <a href="https://plus.google.com/{{ site.googleplus_user }}?rel=author" title="Google+">
              <img src="{{ site_url }}/images/googleplus.png" width="48" height="48">
            </a>
            &nbsp;
            <a href="https://www.facebook.com/{{ site.facebook_user }}" title="Facebook">
              <img src="{{ site_url }}/images/facebook.png" width="48" height="48">
            </a>
            &nbsp;
            <a href="https://twitter.com/{{ site.twitter_user }}" title="Twitter">
              <img src="{{ site_url }}/images/twitter.png" width="48" height="48">
            </a>
            &nbsp
            <a href="https://github.com/{{ site.github_user }}" title="GitHub">
              <img src="{{ site_url }}/images/github.png" width="48" height="48">
            </a>
          </p>
     <!-- </section> -->
    {% endif %}
  </div>
</section>

